@model BookMyShowDemo.Models.TheatreModel
@{
    ViewData["Title"] = "EditTheatre";
}

<h1>Edit Theatre</h1>

@using (Html.BeginForm())
{
    <div class="col-12">
        <div class="form-group">
            <label for="TheatreId">
                @Html.DisplayNameFor(theatreobj => theatreobj.TheatreId)
            </label>
            @Html.TextBoxFor(theatreobj => theatreobj.TheatreId)

        </div>
        <div class="form-group">
            <label for="Theatre">
                @Html.DisplayNameFor(theatreobj => theatreobj.Theatre)
            </label>
            @Html.TextBoxFor(theatreobj => theatreobj.Theatre)
        </div>
        <input type="submit" value="Save Theatre" />
        <input type="button" value="Reset" />
    </div>
}

